.button {
  background-color: transparent;
  color: white;
  font-family: "DeadByDaylight";
  text-transform: lowercase;
  transition: 0.2s;
  border-image: url(ButtonFrame.png) 30;
  border-width: 10px;
  border-style: solid;
  padding: 10px;
  opacity: 0.5;
}

.button:hover {
  opacity: 1;
}
